body {
    position: relative;
}

/* Navbar */
.navbar {
    background-color: transparent;
    transition: all 0.5s ease-in-out 0.2s;
}

.navbar:hover {
    background-color: #2A160C;
    transition: all 0.5s ease-in-out 0.2s;
}

.navbar .navbar-brand {
    background-image: url("../img/logo-plano.svg");
    background-size: cover;
    transition: all 0.5s ease-in-out 0.2s;
    height: 6.2rem;
    width: 18.1rem;
}

.navbar:hover .navbar-brand {
    background-image: url("../img/logo-plano-neg.svg");
    background-size: cover;
    transition: all 0.5s ease-in-out 0.2s;
    height: 6.2rem;
    width: 18.1rem;
}

.hmenu {
    padding: 10px;
}

.hulnav {
    padding: 10px;
}

.navbar .nav li a {
    transition: all 0.5s linear 0.2s;
}

.navbar .nav li a:hover {
    color: #FBC763;
    transition: all 0.5s linear 0.2s;
}

.navbar .nav li.active a {
    color: #080808;
    background-color: #ECD39A;
    transition: all 0.5s linear 0.2s;
}

/* Header */

.portada-back {
    background-color: #2A160C;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.portada {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.bienvenida {
    margin-top: 45vh;
}

.bienvenida h1 {
    color: #fefefe;
    font-size: 5rem;
    text-align: center;
}

.bienvenida h1 span {
    color: #ECD39A;
    transition: all 0.5s linear 0.2s;
}

.bienvenida h1 span:hover {
    color: #FBC763;
    transition: all 0.5s linear 0.2s;
}

.bienvenida h1 small {
    color: #f5e79e;
}

.bienvenida-next {
    margin-top: 15rem;
}

.bienvenida-next i {
    color: #fefefe;
    font-size: 8rem;
    transition: all 0.5s linear 0.2s;
}

.bienvenida-next i:hover {
    color: #f5e79e;
    transition: all 0.5s linear 0.2s;
}

/************************* Contenido *************************/

.contenido {
    position: absolute;
    margin-top: 100vh;
}

.contenido h1, .contenido h2, .contenido h3 {
    font-family: Raleway, sans-serif;
}

.contenido h1 {
    font-size: 3.8rem;
}

.contenido h2 {

    font-size: 3.2rem;
}

.contenido h3 {

    font-size: 2.6rem;
}

.hSeparador {
    margin-left: 0;
    text-align: left;
    border-top: 5px solid #701B11;
    width: 40%;
}

.hSeparador-neg {
    border-top: 5px solid #FBC763;
}

.hSeparador-all {
    width: 100%;
}

.margen {
    margin-top: 15rem;
}

.capa {
    min-height: 100vh;
}

.descripcion {
    margin-top: 3rem;
    font-size: 3rem;
}

@media(max-width: 1100px) {
    .descripcion {
        margin-top: 2rem;
        font-size: 2rem;
    }
}

@media(max-width: 768px) {
    .descripcion {
        margin-top: 2rem;
        font-size: 1.8rem;
    }
}

/* Nosotros */


/* Ejes */

.ejes {
    background: url("../img/back-ejes.jpg") repeat;
}

.ejes h1 {
    color: #f5e79e;
    text-shadow: 2px 0 #0f0f0f;
}

.carta-container {
    display: inline-block;
    height: 70vh;
    width: 100%;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;

    z-index: 1;
}

.carta {
    box-shadow: 0 0 5px #0f0f0f;
    height: 100%;
    width: 100%;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s;

    -moz-transform-style: preserve-3d;
    -moz-transition: all 0.5s;

    transform-style: preserve-3d;
    transition: all 0.5s;
}
.carta-container:hover .carta{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.carta .lado{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.carta .lado .contenido-carta{
    margin: 5rem;
}

.carta .lado .contenido-carta .texto-carta{
    font-size: 3rem;
}

.carta .lado .contenido-carta ul{
    font-size: 3rem;
}

.carta .lado .contenido-carta ul li{
    list-style-image: url("../img/axis.svg");
}

@media (max-width: 1100px) {
    .carta .lado .contenido-carta .texto-carta{
        font-size: 2rem;
    }

    .carta .lado .contenido-carta ul{
        font-size: 2rem;
    }
}

.carta .frente{
    background-color: rgba(236, 211, 154, 0.6);
    height: 100%;
    width: 100%;
}

.carta .atras{
    background: rgba(240, 240, 240, 0.61);
    font-family: Raleway, sans-serif;
    height: 100%;
    width: 100%;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Filosofía */

.filosofia {
    background: url("../img/back-filosofia.jpg") repeat fixed;
}

.caja-filosofía {
    background: rgba(240, 240, 240, 0.61);
    border-radius: 10px;
    padding: 2rem;
}

.texto-filosofia {
    font-size: 2.5rem;
}

@media (max-width: 1100px) {
    .texto-filosofia {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .texto-filosofia {
        font-size: 1.4rem;
    }
}

/* Servicios */

.caja-servicios {
    text-align: center;
    width: 65vw;
}

/* Proyectos */

.proyectos {
    background: url("../img/back-proyectos.jpg") repeat fixed;
    min-height: 150vh;
}

.filter-button-group {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.grid {
    margin: 0 auto;
}

.grid-sizer,
.grid-item {
    color: #ECD39A;
    width: 50%;
}

@media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
        margin: 0 4% 4% 2%;
        width: 90%;
    }
}

.asesoria {
    background-color: #2A160C;
}

.desarrollo {
    background-color: #701B11;
}

.iniciativa {
    background-color: #C94927;
}

.grid-item div {
    margin: 3rem auto;
    text-align: center;
}

.grid-item div i {
    font-size: 10rem;
    transition: all 0.5s ease;
}

.grid-item div h3 {
    font-size: 2rem;
}

.grid-item div p {
    font-size: 2rem;
    display: none;
    margin-bottom: 3rem;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: rotateX(180deg); /* Safari */
    transform: rotateX(180deg) scale(0);
    transition: all 0.5s ease 0s;
}

.grid-item div:hover i {
    font-size: 6rem;
    transition: all 0.5s ease;
}

.grid-item div:hover p {
    display: block;
    -webkit-transform: rotateX(0deg); /* Safari */
    transform: rotateX(0deg) scale(1);

    transition: all 0.5s ease 0s;
}

.iniciativa div p {
    font-size: 1.5rem;
}

.iniciativa div:hover i {
    font-size: 2rem;
}

.grid-item--width2 { width: 50%; }

.grid-item-content {
    height: 25vh;
}

/* Desde el Blog */

.articulo {
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 0.5px solid #701B11;
}

.boton-blog {
    margin-top: 5rem;
}